@import 'base/variables';
@import 'base/mixins';
@import 'base/buttons';

@import 'components/nav';
@import 'components/about';
@import 'components/header';
@import 'components/offer';
@import 'components/testimonials';
@import 'components/costs';
@import 'components/footer';

body {
  background-color: $main-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

