.btn {
  font-size: 18px;
  margin-right: 30px;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;

  &-green {
    background-color: $green-color;
    transition: all 0.2s;

    &:hover {
      background-color: transparent;
      color: $green-color;
      border: 2px solid $green-color;
    }

    &-end {
      width: 300px;
      height: 50px;
      margin: 50px auto 0;
      display: block;
    }
  }

  &-transparent {
    background-color: transparent;
    color: $white-color;
    border: 2px solid $white-color;
    transition: all 0.2s;

    &:hover {
      background-color: $white-color;
      color: black;
    }
  }

  &-orange {
    border-radius: 0;
    color: $text-color;
    background-color: coral;
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 50px;
    transition: background-color .2s;

    &:hover {
      background-color: lighten(coral, 10%);
      
    }
  }
}
