.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 250px 0 ;
  margin-top: -145px;
  z-index: 1;
  background-image: linear-gradient(to right, #eee, white);
  clip-path: polygon(0 0, 0% 100%, 100% 80%, 100% 0);

  &-text {
    padding: 20px 70px;
    color: $text-color;
    line-height: 30px;

    & h2 {
      text-transform: uppercase;
      padding: 15px 0;
      font-weight: 300;
    }

    & p {
      font-size: 18px;
      font-weight: 300;
    }
  }

  &-image {
    width: 100%;
    height: 100%;

    & img {
      width: 50%;
      display: block;
      margin: auto;
    }
  }
}

@media (max-width: 1024px) {
  .about {
    padding: 200px 0 100px;
    margin-top: -200px;

    &-text {
      padding: 20px;
    }
    &-image {
      margin-top: 100px;
      
      & img {
      width: 70%;

      }

    }
  }
}

@media (max-width: 768px) {
  .about {
    // padding: 150px 0 100px;
    display: block;
    clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0);

    &-image {
      margin-top: 0;

      & img {
      width: 40%;

      }
    }
  }
}
