.costs {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%;
  padding: 30px 0;
  color: rgb(218, 218, 218);

  & h1 {
    span {
      color: white;
    }
  }

  & p {
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .costs {
    & p {
      width: 70%;
    }
  }
}

@media (max-width: 500px) {
  .costs {
    height: 400px;

    & p {
      width: 80%;
      font-size: 18px;
    }
  }
}

@media (max-width: 400px) {
  .costs {
    height: 450px;
  }
}
