footer {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  background-color: rgb(197, 197, 197);
  padding-top: 30px;

  & .info {
    padding-left: 100px;
  }

  & .list {
    & a {
      display: block;
      text-decoration: none;
      color: $text-color;
      padding: 10px 0;
      transition: color .3s;

      &:hover {
        color: lighten($color: $text-color, $amount: 30%)
      }
    }
  }

  & .copy {
    grid-column: 1/ 5;
    grid-row: 2;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 20px 0;
  }

  hr {
    display: none;
  }
}

@media (max-width: 768px) {
  footer {
    & .info {
      padding-left: 30px;
    }

  }
}


@media (max-width: 500px) {
  footer {
  display: block;
  text-align: center;

  hr {
    display: block;
    width: 80%;
    height: 1px;
    border: none;
    background-color: coral;
  }

  & .info {
    padding-left: 0;
  }
  }
}