header {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 90%
    ),
    url("../images/header2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  z-index: 2;
  clip-path: polygon(0 0, 0% 100%, 100% 80%, 100% 0);
  position: relative;

  & .heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 50vh;

  }

  & h1 {
    margin: 200px 0 0 0;
    padding: 10px 0;
    color: $green-color;
    font-weight: 300;
    line-height: 35px;
    text-transform: uppercase;
    margin-right: 70px;
    // border-bottom: 3px solid $green-color;

    & span {
      color: $text-color;
    }
  }

  & h2 {
    color: $text-color;
    margin: 0;
    padding: 10px 0;
    font-weight: 300;
    line-height: 35px;
    text-transform: uppercase;
    padding-right: 70px;
  }
}

@media (max-width: 1366px) {
  header {
  

    & h1 {
      margin: 100px 0 0 0;
      padding-right: 50px;
    }
  }
}

@media (max-width: 768px) {
  header {
    clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0);
    & h1 {
      margin: 100px 0 0 0;
      padding-right: 50px;
    }
  }
}


@media (max-width: 620px) {
  header {
    height: 70vh;

    & .heading {

      grid-template-columns: 1fr 2fr;
    }
    & h1 {
      font-size: 25px;
      
    }
    & h2 {
      font-size: 20px;
    }
  }
}

@media (max-width:550px) {
  header {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("../images/header2.jpg");
    & h1 {
      font-size: 22px;
      margin-top: 50px;
    }
    & h2 {
      font-size: 20px;
      padding: 0;
    }
  }
}

@media (max-width:400px) {
  header {
    & h1 {
      font-size: 18px;
      margin-top: 50px;
    }
    & h2 {
      font-size: 16px;
      padding: 0;
    }
  }
}