nav {
  @include flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #202020;

  & .logo {
    padding-left: 30px;
    height: auto;

    & img {
      width: 250px;
    }
  }

  & .nav-items {
    @include flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

    & a {
      text-decoration: none;
      padding: 5px;
      border-bottom: 3px solid transparent;
      color: $white-color;
      transition: all 0.3s;

      // & .icon {
      //   display: none;
      //   font-size: 30px;
      // }

      &:hover {
        border-bottom: 3px solid $green-color;
        border-radius: 30px;
        display: block;
      }
    }

    & li {
      padding: 0 30px;
    }
  }

  
}

@media (max-width: 1350px) {
  nav {
    & .logo {
      padding-left: 10px;
    }

    & .nav-items {
      & li {
        padding: 0 5px;
      }
    }

    & .btn {
      margin-right: 10px;
    }
  }
}



@media (max-width: 1024px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 20px 0;

    & .nav-items {
      padding: 0;
      & li {
        padding: 0 15px;
      }
    }
    & .btn {
      margin: 0 15px;
    }
  }
}

@media (max-width: 550px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 20px 0;

    & .nav-items {
      flex-direction: column;

      & a {
        border-bottom: none;

        &:hover {
          border-bottom: none;
        }
      }

      & li {
        padding: 5px 0;
      }
    }
    & .btn {
      margin: 15px 0;
      display: block;
      border-radius: 0;
      width: 300px;
    }
  }
}
