.offer {
  background-color: #fff;
  width: 100%;
  z-index: 3;
  margin-top: -250px;
  padding-top: 300px;
  clip-path: polygon(0 20%, 0% 100%, 100% 80%, 100% 0);
  padding: 250px 0 200px;


  & h1 {
    text-transform: uppercase;
    color: $green-color;
    text-align: center;
    font-size: 40px;

    & span {
      color: $text-color;
      font-weight: 100;
    }
  }

  & p {
    font-weight: 300;
    text-align: center;
    width: 60%;
    font-size: 18px;
    margin: auto;
  }

  & .cards {
    width: 100%;
    @include flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
  

    & > div {
      
      width: 400px;
      height: 300px;
      border: 1px solid $text-color;

      & h2 {
        text-align: center;
        font-weight: 300;
        margin-bottom: 30px;
      }

      & ul {
        list-style: disc;
        padding-left: 60px;
        font-size: 18px;
        font-weight: 300;

        & li {
          padding: 5px 0 ;
        }
      }

      & p {
        margin: auto;
        text-align: left;
        width: 80%;
      }
    }
  }
}



@media (max-width: 900px) {
  .offer {
    & p {
      width: 80%;
    }
  
    & .cards {
      & > div {
        
        width: 350px;
        height: 300px;
        border: 1px solid $text-color;
  
        & h2 {
          text-align: center;
          font-weight: 300;
          margin-bottom: 30px;
        }
  
        & ul {
          list-style: disc;
          padding-left: 70px;
          font-weight: 300;
  
        }
  
        & p {
          margin: auto;
          width: 80%;
        }
      }
    }
  }
  
}

@media (max-width: 768px) {
  .offer {
  clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0);
  padding-top: 50px;
  margin-top: -50px;
  padding-bottom: 50px;


    & .cards {
      flex-direction: column;
      & > div {
        margin: 20px 0;
        width: 400px;
        height: 300px;
      }
    }
  }
}

@media (max-width: 500px) {
  .offer {
    & .cards {
      & > div {
        width: 300px;
        height: 300px;
      }
    }
  }
}