.testimonials {
  @include flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;

  &-person {
    width: 30%;

    & img {
      border-radius: 50%;
      width: 30%;
      display: block;
      margin: 30px auto;
    }

    & p {
      width: 80%;
      font-size: 18px;
      font-weight: 300;
      margin: auto;
      display: block;
      text-align: justify;
      line-height: 1.5;

      & span {
        display: block;
        font-weight: 700;
        text-align: center;
        padding: 20px 0;
        font-size: 20px;
      }
    }
  }
}

.test-h1 {
  text-transform: uppercase;
  color: $green-color;
  text-align: center;
  font-size: 40px;

  & span {
    color: $text-color;
    font-weight: 100;
  }
}

@media (max-width: 1024px) {
  .testimonials {
    &-person {
      & img {
        width: 40%;
      }

      & p {
        width: 90%;
      }
    }
  }
}

@media (max-width: 768px) {
  .testimonials {
    &-person {
      width: 70%;

      & img {
        width: 50%;
      }

      & p {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .testimonials {
    &-person {
      width: 90%;

      & img {
        width: 60%;
      }
    }
  }
}
